{% set pageInfo = { 'section': 'franchise', 'title': '프랜차이즈 | BUUK', canonical: "sub/franchise", ogUrl: "sub/franchise" } %} {% extends "layout.html" %} {% block content %}
<div class="franchise-pg">
	<div class="banner-group">
		<h2 class="title">FRANCHISE</h2>
	</div>
	<div class="process-group">
		<div class="process-wrap">
			<h3 data-aos="fade-up">BUUK 가맹점 개설 절차</h3>
			<ul class="process-list">
				<li class="process-item">
					<span class="num">STEP. 01</span>
					<h4 class="tit">가맹 상담</h4>
					<p class="note">예비 점주님과 사업 목적과<br />방향을 설정하여<br />1:1 맞춤상담 진행</p>
				</li>
				<li class="process-item">
					<span class="num">STEP. 02</span>
					<h4 class="tit">상권 분석</h4>
					<p class="note">상권내 입지조사 및<br />분석을 통한 최적의 점포 선정</p>
				</li>
				<li class="process-item">
					<span class="num">STEP. 03</span>
					<h4 class="tit">점포 선정</h4>
					<p class="note">점포 결정 및 본사 승인<br />임대차 계약 진행</p>
				</li>
				<li class="process-item">
					<span class="num">STEP. 04</span>
					<h4 class="tit">가맹 계약 체결</h4>
					<p class="note">가맹 계약 체결과<br />개점 계획 협의</p>
				</li>
				<li class="process-item">
					<span class="num">STEP. 05</span>
					<h4 class="tit">인테리어 시설 공사</h4>
					<p class="note">시설공사 실시와<br />각종 인허가 진행</p>
				</li>
				<li class="process-item">
					<span class="num">STEP. 06</span>
					<h4 class="tit">가맹점주 교육</h4>
					<p class="note">운영/레시피 교육<br />경영 노하우 제공</p>
				</li>
				<li class="process-item">
					<span class="num">STEP. 07</span>
					<h4 class="tit">개점 준비</h4>
					<p class="note">주방기기, 집기 비품,<br />원부자재 입고 등 세팅</p>
				</li>
				<li class="process-item">
					<span class="num">STEP. 08</span>
					<h4 class="tit">오픈 최종 점검</h4>
					<p class="note">담당SV 최종 점검과<br />오픈 승인</p>
				</li>
				<li class="process-item">
					<span class="num">STEP. 09</span>
					<h4 class="tit">오픈</h4>
					<p class="note">모든 인력과 식자재<br />준비를 마치고 오픈</p>
				</li>
				<li class="process-item">
					<span class="num">STEP. 10</span>
					<h4 class="tit">경영 관리</h4>
					<p class="note">오픈 후 슈퍼바이져의 지속적인<br />점검을 통해 청결, 서비스, 음식,<br />매장의 전반적인 부분을 관리</p>
				</li>
			</ul>
		</div>
	</div>
	<div class="cost-group" data-aos="fade-up">
		<div class="cost-wrap">
			<h3>부엌간 브런치 오픈 예상비용</h3>
			<div class="inner">
				<span class="small-txt">25평 기준</span>
				<table class="table-area">
					<thead>
						<tr>
							<th scope="col" class="title">구분</th>
							<th scope="col" class="cont">내용</th>
							<th scope="col" class="cost">금액</th>
							<th scope="col" class="note">비고</th>
						</tr>
					</thead>
					<tbody>
						<tr class="green-text">
							<th class="title">로열티</th>
							<td class="cont">월 약정 가맹비, 사후관리</td>
							<td class="cost">매출 3%</td>
							<td class="note"></td>
						</tr>
						<tr>
							<th class="title" rowspan="3">가맹계약이용</th>
							<td class="cont">가맹비</td>
							<td class="cost">1,000만원</td>
							<td class="note"></td>
						</tr>
						<tr>
							<td class="cont">교육비</td>
							<td class="cost">500만원</td>
							<td class="note"></td>
						</tr>
						<tr>
							<td class="cont">이행 보증금</td>
							<td class="cost">없음</td>
							<td class="note"></td>
						</tr>
						<tr>
							<th class="title">인테리어 공사</th>
							<td class="cont">평당 250만원</td>
							<td class="cost">6,250만원</td>
							<td class="note">북유럽 조명 포함</td>
						</tr>
						<tr>
							<th class="title">주방집기</th>
							<td class="cont">피자오븐/가스렌지/냉장고 등</td>
							<td class="cost">3,500만원</td>
							<td class="note">워크인 냉장고 설치 포함</td>
						</tr>
						<tr>
							<th class="title">홀 집기</th>
							<td class="cont">커트러리 및 접시 등</td>
							<td class="cost">1,000만원</td>
							<td class="note">80인 기준</td>
						</tr>
						<tr>
							<th class="title">가구 및 조명</th>
							<td class="cont">테이블, 의자 및 조명</td>
							<td class="cost">2,000만원</td>
							<td class="note">4인테이블 8개 기준(32석)</td>
						</tr>
						<tr>
							<th class="title">주방 용품</th>
							<td class="cont">후라이팬/밧트/냄비 등 주방 및 조리용품</td>
							<td class="cost">500만원</td>
							<td class="note"></td>
						</tr>
						<tr>
							<th class="title">별도</th>
							<td class="cont red-text">철거, 전기증설, 에어컨, 가스공가, 후드(덕트, 배관)</td>
							<td class="cost colspan" colspan="2">별도사항</td>
							<td class="note pd0"></td>
						</tr>
						<tr class="sum">
							<th class="title">합계</th>
							<td class="cont">총계 : VAT 별도</td>
							<td class="cost colspan" colspan="2">1억 4,750만원</td>
							<td class="note pd0"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="cost-group" data-aos="fade-up">
		<div class="cost-wrap">
			<h3>부엌간 차이니즈 오픈 예상비용</h3>
			<div class="inner">
				<span class="small-txt">25평 기준</span>
				<table class="table-area">
					<thead>
						<tr>
							<th scope="col" class="title">구분</th>
							<th scope="col" class="cont">내용</th>
							<th scope="col" class="cost">금액</th>
							<th scope="col" class="note">비고</th>
						</tr>
					</thead>
					<tbody>
						<tr class="green-text">
							<th class="title">로열티</th>
							<td class="cont">월 약정 가맹비, 사후관리</td>
							<td class="cost">매출 3%</td>
							<td class="note"></td>
						</tr>
						<tr>
							<th class="title" rowspan="3">가맹계약이용</th>
							<td class="cont">가맹비</td>
							<td class="cost">1,000만원</td>
							<td class="note"></td>
						</tr>
						<tr>
							<td class="cont">교육비</td>
							<td class="cost">500만원</td>
							<td class="note"></td>
						</tr>
						<tr>
							<td class="cont">이행 보증금</td>
							<td class="cost">없음</td>
							<td class="note"></td>
						</tr>
						<tr>
							<th class="title">인테리어 공사</th>
							<td class="cont">평당 290만원</td>
							<td class="cost">7,250만원</td>
							<td class="note">북유럽 조명 포함</td>
						</tr>
						<tr>
							<th class="title">주방집기</th>
							<td class="cont">가스렌지/냉장고/튀김기 등</td>
							<td class="cost">2,500만원</td>
							<td class="note"></td>
						</tr>
						<tr>
							<th class="title">홀 집기</th>
							<td class="cont">커트러리 및 접시 등</td>
							<td class="cost">1,000만원</td>
							<td class="note">50인 기준</td>
						</tr>
						<tr>
							<th class="title">가구 및 조명</th>
							<td class="cont">테이블, 의자 및 조명</td>
							<td class="cost">2,000만원</td>
							<td class="note">4인테이블 8개 기준(32석)</td>
						</tr>
						<tr>
							<th class="title">주방 용품</th>
							<td class="cont">후라이팬/밧트/냄비 등 주방 및 조리용품</td>
							<td class="cost">500만원</td>
							<td class="note"></td>
						</tr>
						<tr>
							<th class="title">별도</th>
							<td class="cont red-text">철거, 전기증설, 에어컨, 가스공가, 후드(덕트, 배관)</td>
							<td class="cost colspan" colspan="2">별도사항</td>
							<td class="note pd0"></td>
						</tr>
						<tr class="sum sum2">
							<th class="title">합계</th>
							<td class="cont">총계 : VAT 별도</td>
							<td class="cost colspan" colspan="2">1억 4,750만원</td>
							<td class="note pd0"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script>
	window.onload = () => {
		ScrollTrigger.matchMedia({
			'(min-width: 769px)': function () {
				gsap.set('.franchise-pg .process-item', { opacity: 0, x: -50 });

				gsap.to('.franchise-pg .process-item', {
					scrollTrigger: {
						trigger: '.process-wrap',
						start: '10% 50%',
					},
					stagger: {
						amount: 1,
						from: 'left',
					},
					opacity: 1,
					x: 0,
				});
			},

			'(max-width: 768px)': function () {
				gsap.set('.franchise-pg .process-item', { opacity: 0, y: 50 });

				gsap.to('.franchise-pg .process-item', {
					scrollTrigger: {
						trigger: '.process-wrap',
						start: '-18% center',
						scrub: 3,
					},
					stagger: {
						amount: 1,
						from: 'top',
					},
					opacity: 1,
					y: 0,
				});
			},
		});
	};
</script>
{% endblock %}
