{% set pageInfo = { 'section': 'main', 'title': '', canonical: "", ogUrl: "" } %} {% extends "layout.html" %} {% block content %}
<main class="main">
	<section class="sc-main">
		<div class="inner">
			<img src="../img/main/main_visual.webp" alt="메인비주얼 이미지" />
			<div class="overlay"><span class="blind">오버레이 박스</span></div>
			<div class="title-wrap">
				<h2 class="img">
					<img src="../img/main/main_visual_logo.png" alt="비유유케이 로고" />
				</h2>
				<p class="txt">
					세계의 맛을 담은 <span></span> 유러피안 F&B, BUUK<br />
					평온하고 품격있는 외식업 문화를 선도하는 <strong>BUUK</strong>와 함께 <strong>성공적인 <span></span> 창업의 길</strong>을 열어보세요.
				</p>
			</div>
		</div>
	</section>

	<section class="sc-about">
		<div class="text-group">
			<div class="title">
				저희는 진실된 요리와 섬세한 서비스,<br />
				그리고 새로운 공간에 대한<br />
				라이프 스타일을 지향합니다.
			</div>
			<div class="desc">
				<span>맛있는 음식과 넓은 공간,<br />편안한 분위기</span>
				<span>그러나 무엇보다도,</span>
				<span>고객을 가장 소중히 여기는 공간이 되고자 합니다.</span>
			</div>
		</div>
		<div class="img-group">
			<div class="img-wrap">
				<img src="../img/main/main_about01.webp" alt="부엌간 공간 이미지1" />
				<img src="../img/main/main_about02.webp" alt="부엌간 공간 이미지2" />
			</div>
			<div class="decor"><span class="blind">컬러 박스</span></div>
		</div>
	</section>

	<section class="sc-brands">
		<div class="brands-group b1">
			<div class="text-area">
				<h3 class="title">Our Brands</h3>
				<article class="wrap">
					<div class="brand">부엌간</div>
					<p class="desc">“My Favorite European Restaurant” 이라는 슬로건을 기반으로 운영하는 유러피안 레스토랑 ‘부엌간’입니다.</p>
				</article>
				<a href="/sub/buukgan" class="more-link"><span>View More</span></a>
			</div>
			<div class="img-area">
				<div class="img"><img src="../img/main/main_brands01.webp" alt="부엌간 이미지" /></div>
			</div>
		</div>
		<div class="brands-group b2">
			<div class="text-area">
				<h3 class="title">Our Brands</h3>
				<article class="wrap">
					<div class="brand">부엌간 차이니즈</div>
					<p class="desc">일반 중식당과 다르게 유러피안 감성을 기반으로 한 차이니즈 레스토랑입니다.</p>
				</article>
				<a href="/sub/buukchinese" class="more-link"><span>View More</span></a>
			</div>
			<div class="img-area">
				<div class="img"><img src="../img/main/main_brands02.webp" alt="부엌간 차이니즈 이미지" /></div>
			</div>
		</div>
		<div class="brands-group b3">
			<div class="text-area">
				<h3 class="title">Our Brands</h3>
				<article class="wrap">
					<div class="brand">카페 드 부엌</div>
					<p class="desc">카페 드 부엌은 단순한 유럽 감성이 아닌 디테일한 유러피안 감성을 담아내, 방문하시는 고객님들께 공간적 가치와 커피의 즐거움을 선사합니다.</p>
				</article>
				<a href="/sub/cafedebuuk" class="more-link"><span>View More</span></a>
			</div>
			<div class="img-area">
				<div class="img"><img src="../img/main/main_brands03.webp" alt="카페 드 부엌 이미지" /></div>
			</div>
		</div>
		<div class="circle">
			<div class="curr">0<span class="num">1</span></div>
			<div class="total">03</div>
		</div>
	</section>

	<section class="sc-menu">
		<div class="text-group">
			<h3 class="title">MENU</h3>
			<p class="desc">
				익숙하지만 새롭고, 트렌디하지만 품격 있는 요리<br class="mob-br" /><strong>대중성과 차별성</strong> 있는 메뉴와 수익성까지 갖춘 BUUK의 메뉴를 소개합니다.
			</p>
		</div>
		<div class="menu-group">
			<div class="inner">
				<div class="line"></div>
				<article>
					<div class="brand-wrap first">
						<p class="brand">부엌간</p>
						<ul class="menu-list">
							<li>
								<figure>
									<img class="height27" src="../img/main/bk_menu1.webp" alt="부엌간 메뉴 이미지1" />
									<figcaption>바질페스토 크림파스타</figcaption>
								</figure>
							</li>
							<li>
								<figure>
									<img src="../img/main/bk_menu2.webp" alt="부엌간 메뉴 이미지2" />
									<figcaption>잠봉 피자</figcaption>
								</figure>
							</li>
							<li>
								<figure>
									<img src="../img/main/bk_menu3.webp" alt="부엌간 메뉴 이미지3" />
									<figcaption>알배추 시저 샐러드</figcaption>
								</figure>
							</li>
							<li>
								<figure>
									<img src="../img/main/bk_menu4.webp" alt="부엌간 메뉴 이미지4" />
									<figcaption>스테이크</figcaption>
								</figure>
							</li>
						</ul>
					</div>
					<div class="brand-wrap second">
						<ul class="menu-list">
							<li>
								<figure>
									<img src="../img/main/bkc_menu1.webp" alt="부엌간 차이니즈 메뉴 이미지1" />
									<figcaption>수란 오겹 간짜장</figcaption>
								</figure>
							</li>
							<li>
								<figure>
									<img src="../img/main/bkc_menu2.webp" alt="부엌간 차이니즈 메뉴 이미지2" />
									<figcaption>고수 짬뽕</figcaption>
								</figure>
							</li>
							<li>
								<figure>
									<img class="height27" src="../img/main/bkc_menu3.webp" alt="부엌간 차이니즈 메뉴 이미지3" />
									<figcaption>깐풍아귀</figcaption>
								</figure>
							</li>
							<li>
								<figure>
									<img src="../img/main/bkc_menu4.webp" alt="부엌간 차이니즈 메뉴 이미지4" />
									<figcaption>할라피뇨 크림새우</figcaption>
								</figure>
							</li>
						</ul>
						<p class="brand">부엌간 차이니즈</p>
					</div>
					<div class="brand-wrap third">
						<p class="brand">카페 드 부엌</p>
						<div class="menu-list text"><span>메뉴 준비 중입니다 :&#41;</span></div>
					</div>
				</article>
				<a href="/sub/brands" class="more-link"><span>View More</span></a>
			</div>
		</div>
	</section>

	<section class="sc-store">
		<div class="text-group">
			<h3 class="title">Store</h3>
			<p class="desc">주변의 가까운 BUUK의 매장을<br class="mob-br" />확인해 보세요!</p>
		</div>
		<div class="img-group">
			<div class="col-left">
				<div class="swiper col-left-swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="../img/main/store/main_store_bk_dm1.webp" alt="부엌간 스토어 이미지" />
							<div class="circle">
								<dl>
									<dt>부엌간 동명점</dt>
									<dd>BUUK</dd>
								</dl>
							</div>
						</div>
						<div class="swiper-slide">
							<img src="../img/main/store/main_store_bkc2.webp" alt="부엌간 차이니즈 스토어 이미지" />
							<div class="circle">
								<dl>
									<dt>부엌간 차이니즈 해운대점</dt>
									<dd>BUUK Chinese</dd>
								</dl>
							</div>
						</div>
						<div class="swiper-slide">
							<img src="../img/main/store/main_store_cbk2.webp" alt="카페 드 부엌 스토어 이미지" />
							<div class="circle">
								<dl>
									<dt>카페 드 부엌 해운대점</dt>
									<dd>Cafe' de BuuK</dd>
								</dl>
							</div>
						</div>
						<div class="swiper-slide">
							<img src="../img/main/store/main_store_bk_hd1.webp" alt="부엌간 스토어 이미지" />
							<div class="circle">
								<dl>
									<dt>부엌간 해운대점</dt>
									<dd>BUUK</dd>
								</dl>
							</div>
						</div>
						<div class="swiper-slide">
							<img src="../img/main/store/main_store_bk_hd2.webp" alt="부엌간 스토어 이미지" />
							<div class="circle">
								<dl>
									<dt>부엌간 해운대점</dt>
									<dd>BUUK</dd>
								</dl>
							</div>
						</div>
						<div class="swiper-slide">
							<img src="../img/main/store/main_store_bk_hd3.webp" alt="부엌간 스토어 이미지" />
							<div class="circle">
								<dl>
									<dt>부엌간 해운대점</dt>
									<dd>BUUK</dd>
								</dl>
							</div>
						</div>
						<div class="swiper-slide">
							<img src="../img/main/store/main_store_cbk1.webp" alt="카페 드 부엌 스토어 이미지" />
							<div class="circle">
								<dl>
									<dt>카페 드 부엌 해운대점</dt>
									<dd>Cafe' de BuuK</dd>
								</dl>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-right">
				<div class="swiper col-right-swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="../img/main/store/main_store_bk_sm2.webp" alt="부엌간 스토어 이미지" />
							<div class="circle">
								<dl>
									<dt>부엌간 상무점</dt>
									<dd>BUUK</dd>
								</dl>
							</div>
						</div>
						<div class="swiper-slide">
							<img src="../img/main/store/main_store_bk_sw1.webp" alt="부엌간 스토어 이미지" />
							<div class="circle">
								<dl>
									<dt>부엌간 수완점</dt>
									<dd>BUUK</dd>
								</dl>
							</div>
						</div>
						<div class="swiper-slide">
							<img src="../img/main/store/main_store_bk_sw2.webp" alt="부엌간 스토어 이미지" />
							<div class="circle">
								<dl>
									<dt>부엌간 수완점</dt>
									<dd>BUUK</dd>
								</dl>
							</div>
						</div>
						<div class="swiper-slide">
							<img src="../img/main/store/main_store_bkc1.webp" alt="부엌간 차이니즈 스토어 이미지" />
							<div class="circle">
								<dl>
									<dt>부엌간 차이니즈 해운대점</dt>
									<dd>BUUK Chinese</dd>
								</dl>
							</div>
						</div>
						<div class="swiper-slide">
							<img src="../img/main/store/main_store_bk_dm2.webp" alt="부엌간 스토어 이미지" />
							<div class="circle">
								<dl>
									<dt>부엌간 동명점</dt>
									<dd>BUUK</dd>
								</dl>
							</div>
						</div>
						<div class="swiper-slide">
							<img src="../img/main/store/main_store_bk_sm1.webp" alt="부엌간 스토어 이미지" />
							<div class="circle">
								<dl>
									<dt>부엌간 상무점</dt>
									<dd>BUUK</dd>
								</dl>
							</div>
						</div>
						<div class="swiper-slide">
							<img src="../img/main/store/main_store_cbk2.webp" alt="카페 드 부엌 스토어 이미지" />
							<div class="circle">
								<dl>
									<dt>카페 드 부엌 해운대점</dt>
									<dd>Cafe' de BuuK</dd>
								</dl>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="sc-contact">
		<div class="text-group">
			<span class="contact">Contact Us</span>
			<span class="desc">외식업 프랜차이즈 창업의 꿈.</span>
			<p class="title">지금 바로<span></span> 시작할 수 있습니다!</p>
		</div>
		<a href="/sub/contact" class="contact-link">
			<div class="img"><img src="../img/main/main_contact_circle.png" alt="contact BUUK" /></div>
			<div class="circle"><span class="blind">contact 바로가기</span></div>
		</a>
	</section>
</main>

<script>
	window.onload = () => {
		const mainStoreLeftSwiper = new Swiper('.sc-store .col-left .col-left-swiper', {
			loop: true,
			slidesPerView: 'auto',
			speed: 6000,
			allowTouchMove: false,
			spaceBetween: 30,
			autoplay: {
				delay: 1,
			},
			breakpoints: {
				768: {
					direction: 'vertical',
					spaceBetween: 40,
				},
			},
		});

		const mainStoreRightSwiper = new Swiper('.sc-store .col-right .col-right-swiper', {
			loop: true,
			slidesPerView: 'auto',
			speed: 6000,
			allowTouchMove: false,
			spaceBetween: 30,
			autoplay: {
				delay: 1,
				reverseDirection: true,
			},
			breakpoints: {
				768: {
					direction: 'vertical',
					spaceBetween: 40,
				},
			},
		});

		ScrollTrigger.matchMedia({
			'(min-width: 769px)': function () {
				// loadingAni
				gsap.set('.header .pc-header', { y: '-100%' });
				gsap.timeline()
					.to('.sc-main .inner', { y: 0, duration: 1, ease: 'power3.out' })
					.addLabel('a')
					.to('.sc-main .inner', { width: '100%', height: '100%', borderRadius: 0, duration: 1.5, ease: 'power3.out' }, 'a')
					.to('.sc-main .overlay', { opacity: 0.7, duration: 0.5 }, 'a+=.7')
					.to('.pc-header', { y: 0, duration: 0.5 }, 'a+=.9')
					.to('.sc-main .inner .title-wrap', { opacity: 1, y: '-50%', duration: 0.7 }, 'a+=.9');

				// sc-brands
				gsap.set('.sc-brands .text-area .title', { opacity: 0, y: 100 });
				gsap.set('.sc-brands .text-area .wrap', { opacity: 0, y: 100 });
				gsap.set('.sc-brands .text-area .more-link', { opacity: 0 });

				gsap.set('.sc-brands .brands-group.b2 .img-area, .sc-brands .brands-group.b3 .img-area', { y: '100%' });

				const mainBrandsAni = gsap.timeline({
					scrollTrigger: {
						trigger: '.sc-brands',
						start: 'top 0%',
						end: '1000% -80%',
						scrub: 3,
						pin: true,
					},
				});
				mainBrandsAni
					.to({}, { duration: 1 })
					.addLabel('a')
					.to('.sc-brands .brands-group.b1 .text-area .title', { opacity: 1, y: 0, duration: 1 }, 'a')
					.to('.sc-brands .brands-group.b1 .text-area .wrap', { opacity: 1, y: 0, duration: 1 }, 'a+=.03')
					.to('.sc-brands .brands-group.b1 .text-area .more-link', { opacity: 1, duration: 1 }, 'a+=.03')

					.to({}, { duration: 2 })
					.addLabel('b')
					.to('.sc-brands .brands-group.b2', { zIndex: 13 }, 'b')
					.to('.sc-brands .brands-group.b1 .text-area', { opacity: 0, duration: 0.6 }, 'b+=1')
					.to('.sc-brands .brands-group.b2 .img-area', { y: 0, duration: 2.8 }, 'b+=2')

					.to('.sc-brands .brands-group.b2 .text-area .title', { opacity: 1, y: 0, duration: 2 }, 'b+=3.5')
					.to('.sc-brands .brands-group.b2 .text-area .wrap', { opacity: 1, y: 0, duration: 2 }, 'b+=3.8')
					.to('.sc-brands .brands-group.b2 .text-area .more-link', { opacity: 1, duration: 2 }, 'b+=3.8')
					.to('.sc-brands .circle .num', { textContent: '2', duration: 0 }, 'b+=1.5')

					.to({}, { duration: 2 })
					.addLabel('d')
					.to('.sc-brands .brands-group.b3', { zIndex: 15 }, 'd')
					.to('.sc-brands .brands-group.b2 .text-area', { opacity: 0, duration: 0.6 }, 'd+=1')
					.to('.sc-brands .brands-group.b3 .img-area', { y: 0, duration: 2.8 }, 'd+=2')
					.to('.sc-brands .brands-group.b3 .text-area .title', { opacity: 1, y: 0, duration: 2 }, 'd+=3.5')
					.to('.sc-brands .brands-group.b3 .text-area .wrap', { opacity: 1, y: 0, duration: 2 }, 'd+=3.8')
					.to('.sc-brands .brands-group.b3 .text-area .more-link', { opacity: 1, duration: 2 }, 'd+=3.8')

					.to('.sc-brands .circle .num', { textContent: '3', duration: 0 }, 'd+=1.5')

					.to({}, { duration: 2 });

				// sc-menu
				gsap.set('.sc-menu .title', { opacity: 0, x: 100 });
				gsap.set('.sc-menu .desc', { opacity: 0, x: 100 });
				gsap.set('.sc-menu .brand', { opacity: 0, y: 100 });
				gsap.set('.sc-menu .menu-list', { opacity: 0, y: 100 });

				const mainMenuAni = gsap.timeline({
					scrollTrigger: {
						trigger: '.sc-menu',
						start: 'top center',
						end: '50% center',
						scrub: 5,
					},
				});
				mainMenuAni
					.addLabel('a')
					.to('.sc-menu .title', { opacity: 1, x: 0, duration: 0.4 }, 'a')
					.to('.sc-menu .desc', { opacity: 1, x: 0, duration: 0.4 }, 'a+=.03')
					.addLabel('b')
					.to('.sc-menu .first .brand', { opacity: 1, y: 0 }, 'b')
					.to('.sc-menu .first .menu-list', { opacity: 1, y: 0 }, 'b')
					.addLabel('c')
					.to('.sc-menu .second .brand', { opacity: 1, y: 0 }, 'c')
					.to('.sc-menu .second .menu-list', { opacity: 1, y: 0 }, 'c')
					.addLabel('d')
					.to('.sc-menu .third .brand', { opacity: 1, y: 0 }, 'd')
					.to('.sc-menu .third .text', { opacity: 1, y: 0 }, 'd');

				// sc-contact
				gsap.set('.sc-contact .contact, .sc-contact .contact-link', { opacity: 0 });
				gsap.set('.sc-contact .desc, .sc-contact .title', { opacity: 0, y: 50 });

				const mainContactAni = gsap.timeline({
					scrollTrigger: {
						trigger: '.sc-contact',
						start: 'top 68%',
						end: '40% 68%',
						scrub: 5,
					},
				});
				mainContactAni
					.to('.sc-contact .contact', { opacity: 1 })
					.to('.sc-contact .desc', { opacity: 1, y: 0 })
					.to('.sc-contact .title', { opacity: 1, y: 0 })
					.to('.sc-contact .contact-link', { opacity: 1 });
			},

			'(max-width: 768px)': function () {
				// loadingAni
				gsap.set('.mob-header', { y: '-100%' });

				const mainLoadingAni = gsap.timeline();
				mainLoadingAni
					.addLabel('a')
					.to('.sc-main .inner', { opacity: 1 }, 'a')

					.addLabel('b')
					.to('.mob-header', { y: 0, duration: 0.5 }, 'b')
					.to('.sc-main .inner .title-wrap', { opacity: 1, y: '-50%', duration: 0.7 }, 'b');

				// sc-menu
				gsap.set('.sc-menu .title', { opacity: 0, y: 50 });
				gsap.set('.sc-menu .desc', { opacity: 0, y: 50 });
				gsap.set('.sc-menu .brand', { opacity: 0, y: 100 });
				gsap.set('.sc-menu .menu-list', { opacity: 0, y: 100 });

				const mainMenuAni = gsap.timeline({
					scrollTrigger: {
						trigger: '.sc-menu',
						start: 'top 68%',
						end: '50% 68%',
						scrub: 5,
					},
				});
				mainMenuAni
					.addLabel('a')
					.to('.sc-menu .title', { opacity: 1, y: 0, duration: 0.4 }, 'a')
					.to('.sc-menu .desc', { opacity: 1, y: 0, duration: 0.4 }, 'a+=.03')
					.addLabel('b')
					.to('.sc-menu .first .brand', { opacity: 1, y: 0 }, 'b')
					.to('.sc-menu .first .menu-list', { opacity: 1, y: 0 }, 'b')
					.addLabel('c')
					.to('.sc-menu .second .brand', { opacity: 1, y: 0 }, 'c')
					.to('.sc-menu .second .menu-list', { opacity: 1, y: 0 }, 'c')
					.addLabel('d')
					.to('.sc-menu .third .brand', { opacity: 1, y: 0 }, 'd')
					.to('.sc-menu .third .text', { opacity: 1, y: 0 }, 'd');

				// sc-contact
				gsap.set('.sc-contact .contact, .sc-contact .contact-link', { opacity: 0 });
				gsap.set('.sc-contact .desc, .sc-contact .title', { opacity: 0, y: 50 });

				const mainContactAni = gsap.timeline({
					scrollTrigger: {
						trigger: '.sc-contact',
						start: 'top 70%',
						end: '40% 70%',
						scrub: 5,
					},
				});
				mainContactAni
					.to('.sc-contact .contact', { opacity: 1 })
					.to('.sc-contact .desc', { opacity: 1, y: 0 })
					.to('.sc-contact .title', { opacity: 1, y: 0 })
					.to('.sc-contact .contact-link', { opacity: 1 });
			},

			all: function () {
				// sc-about
				gsap.set('.sc-about .title', { opacity: 0, y: 100 });
				gsap.set('.sc-about .desc', { opacity: 0, x: -100 });
				gsap.set('.sc-about .img-group', { opacity: 0, x: 100 });
				const mainAboutAni = gsap.timeline({
					scrollTrigger: {
						trigger: '.sc-about',
						start: 'top 60%',
						end: '50% 60%',
						scrub: 5,
					},
				});
				mainAboutAni
					.to('.sc-about .title', { opacity: 1, y: 0 })
					.addLabel('a')
					.to('.sc-about .desc', { opacity: 1, x: 0, duration: 1.5 }, 'a+=.5')
					.to('.sc-about .img-group', { opacity: 1, x: 0, duration: 1.5 }, 'a+=.5');
			},
		});
	};
</script>
{% endblock %}
