<!doctype html>
<html lang="ko">
	{% include 'head.html' %}
	<body>
		<script>
			AOS.init();
			gsap.registerPlugin(ScrollTrigger);
		</script>
		<div class="wrapper">
			<!-- header -->
			{% include 'header.html' %}
			<!--// header -->

			<!-- content -->
			{% block content %}{% endblock %}
			<!-- //content -->

			<!-- floatingBtn -->
			{% include 'floatingBtn.html' %}
			<!-- //floatingBtn -->

			<!-- footer -->
			{% include 'footer.html' %}
			<!-- //footer -->
		</div>
		{% block scripts %} {% endblock %}
	</body>
</html>
